h1 {
    font-family: cursive;
}

body {
    font-family: sans-serif;
    /* background: -webkit-linear-gradient(to right, #155799, #159957); */
    
    background-image: linear-gradient(#bdc3c7, #2c3e50);
    background-repeat: no-repeat;
    min-height: 97vh;


    color: rgb(46, 58, 43);
}


h1 {
   
    text-align: center;
}

#form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 35rem;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;

}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
}

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.3;
    cursor: pointer;
}

.headingsContainer {
    text-align: center;
}

.headingsContainer p {
    color:ghostwhite;
}

.mainContainer {
    padding: 16px;
}


.subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a {
    font-size: 16px;
    margin-bottom: 12px;
}

span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
}

.forgotpsd a {
    color: rgb(74, 146, 235);
}

.forgotpsd a:link {
    text-decoration: none;
}

.register {
    color: white;
    text-align: center;
}

.register a {
    color: rgb(74, 146, 235);
}

.register a:link {
    text-decoration: none;
}

/* Media queries for the responsiveness of the page */
@media screen and (max-width: 998px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }
    main{
        transform: scale(1.1);
    }
}


.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    border-radius: 15px;
    margin: 0 auto;
    padding-right: 1rem;
    text-align: center;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:  -60px;
  

}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }
#user-avatar{
    border-radius: 50%;
    margin:auto;
    padding-bottom: 1.5rem;
    padding: 1rem;
    width: 200px;
    height: 200px;
}
.start{
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: rgb(2, 194, 44);
    color: ghostwhite;
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 2px #030804;
}
.start:hover{
    opacity: 0.3;
    cursor: pointer;
}
.sign-up p{
    padding-right: 0.6rem;
}